.dialog {
   
}

.dialog a {
    position: relative;
    bottom: 15px;   
}

.active {
   
}


.avaImg {
    display: inline-block;
    padding-right: 10%;
}

 .avaImg img {
    height: 50px;
    width: 50px;
    border-radius: 50px;
}