.profileInfo {
    margin: 20px;
    background-color: #FFFBF5;
    border: solid 2px #ECE8E2;
}

.descriptionBlock {
    padding: 10px;
}

.backgroundImage img{
    width: 40%;
}


.userPhoto {
    max-width: 40%;
}

.contact {
    padding-left: 2%;
}