.dialogs {
    display: grid;

}

.dialogsItems {
    padding: 10px;  
    display: flex;
    justify-content: space-around;
    background-color: #FFFBF5;
    margin: 20px;
    border: solid 2px #ECE8E2;
    
}

.dialogsItems a {
    color: black;
    text-decoration: none;
    
}

.dialogsItems  .active{
    color: gold;
}

.messages {
    padding: 40px;
    background-color: #FFFBF5;
    margin: 0 20px 20px 20px;
    border: solid 2px #ECE8E2;
}

