.nav {
  grid-area: n;
  background-color: #80A8CC;
  min-width: 170px;
  

}

.item {
  padding: 20px 0px 0px 20px;
}

.item a {
  color: #FFF;
  text-decoration: none;
  font-size: 16px;
}

.item .active {
  color: blue;
}

.navFriends {
  margin-top: 15%;
}

.navFriendsInner {
  display: flex;
  flex-direction: column;
  padding: 10px;
  ;
}

.navFriends h2 {
  text-align: center;
  margin-bottom: 0;
}