.navFriendsElement {
    display: flex;
    align-items: center;
}

.navFriendsElement img {
    width: 50px;
    border-radius: 50px;

   
}

.navFriendsElementName {
    text-align: center;
    padding-left: 5%;
}